@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-black: #121212;
  --color-blue: #19202d;
  --color-white: #ffffff;
  --color-white-100: #F6F5F6;
  --color-grey-100: #e7eaee;
  --color-grey-200: #cfcfcf;
  --color-grey-400: #676d7e;
  --color-grey-500: #48556a;
  --color-purple-50: #ede4ff;
  --color-purple-300: #a775f1;
  --color-purple-500: #733fc8;

  --shadow-drop: 40px 60px 50px -47px var(--color-grey-500);

  --font-barlow: "Barlow Semi Condensed";

}
